{% assign last_5 = page.url | slice: -5, 5 %}
{% if last_5 == "index" %}
	{% assign openness = " open" %}
{% else %}
	{% assign openness = "" %}
{% endif %}
<details class="episode-list"{{ openness }}>
	<summary>{{ page.show_title }} Episodes</summary>
	<ul>
	{% for episode in site.tv %}
		{% assign last_5 = episode.url | slice: -5, 5 %}
		{% if episode.show_title == page.show_title and last_5 != "index" %}
			<li><a href="{{ episode.url }}">{{ episode.title }} – {{ episode.episode_title }}</a></li>
		{% endif %}
	{% endfor %}
	</ul>
</details>